
@use "@scss/_theme.scss" as theme;
@use "@scss/_fonts.scss" as fonts;

.devblog-zine {
  width: 100%;
  padding: 0.5rem 0.5rem;
  background: theme.$lt-002;
  background-image: url("/static/doodle_app/images/backgrounds/main_panel.webp");
  font-family: fonts.$writing;
  overflow-x: hidden;
  z-index: 5;
  //border: solid 2px theme.$turq-002;
}

