@use '@scss/_theme' as theme;
@use '@scss/_fonts' as fonts;


.practice-setup-box{
    position: relative;
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: calc(100% - 1rem);
    height: calc(100vh - 20vh);
    overflow: auto;

    border: 2px solid theme.$purple-002;
    //background-color: yellow;
    border-radius: 0.5rem;
}

.pics-setup-section{
  display: block;
  //border: 2px solid green;
}















