
/**************************************
*
*   Hamburger Menu
*   Desktop Nav Menu defined in nav.scss.
*
*******************************************************************/
@use "@scss/_fonts.scss" as fonts;
@use "@scss/_theme.scss" as theme;




.mobile-menu-panel{
    position: absolute;
    display: block;

    //visibility: block;
    opacity: 1;
    background-color:  theme.$dk-002;
    
    border: 3px solid theme.$purple-003;
    box-shadow: 4px 4px 0 theme.$purple-004;
    transform: rotate(-1deg);
    
    z-index:2;
    
    //transform: translateX(120%);
    
    transition-property: opacity transform;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    
    
    // background-image: url("../images/helloFrens/shells.jpg");
    &.devblog{
        // top: 0rem;
        // right: 0rem;
        // width: 0rem;
        // height: 0rem;
        // padding: 0rem;
    
        top: 1rem;
        right: 2rem;
        width: 12rem;
        height: 30rem;
        padding: 0rem;
        
    }
}

/* The mobile menu ul */
.mobile-menu-list {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style:none;

    height:29rem;
    margin-top: 0rem;
    margin-right: 0.5rem;
    //border: 2px solid theme.$dk-001;
}


.mobile-nav-item {
    position:relative;
    display: block;
    height: 2rem;
    line-height: 2rem;

    font-size: 14pt;

}





/* The background shroud element 
/* This element also uses halftone-bg from zine.scss for the dots*/
.shroud-overlay{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;

  inset: 0;

    /* dot pattern */
    background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0.25) 6px, transparent 6px);

    background-size: 18px 18px;   /* dot size & spacing */
    opacity: 0.3;              /* overall darkness of pattern */

    /* fade the dots toward the center */
    mask-image: radial-gradient(circle, transparent 5%, theme.$semi-opaque-xxx 30%);
    
    overflow: hidden;
    z-index: 1;
}
#mobile-menu-bg{
    // Selector for javascript
}

.disable-scrolling{
    overflow: hidden;

}


.ham-btn{
    font-size: 1.2rem;
    color: theme.$dk-005;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    opacity:1;
    background-color: None;
}

.ham-btn:hover,
.ham-btn:focus,
.ham-btn:target{
    color: theme.$lt-001;
}

// This creates the little animated underscore for the link
.ham-btn::after{
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;

    background: theme.$purple-001;
    transform: scaleX(0);
    transform-origin: right;

    transition-timing-function: cubic-bezier(.71, .21, 1, 1);
    transition-duration: 396ms;
    transition-property: background, transform;
}

.ham-btn:hover::after {
    transform: scaleX(1);
    background: theme.$purple-003;
    transform-origin: left;
}


















// The hamburger icon to toglle the menu off/
.ham-flex-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-right: 0.5rem;

    background-color:purple;
    border: 2px solid green;
    z-index:10;
}
.ham-flex {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    //background-color:theme.$purple-003;
    //border: 2px solid theme.$dk-003;

    .ham-bar-topbun{
        position:relative;
        display: block;
        width: 100%;
        height: 0.5rem;
        margin-bottom: 0.2rem;
        background-color: theme.$lt-001;
        border-radius:1rem 1rem 0.1rem 0.1rem;
    }
    .ham-bar-filling{
        position:relative;
        display: block;
        width: 100%;
        height: 0.3rem;
        margin-bottom: 0.2rem;
        background-color: theme.$lt-002;
        border-radius: 0.1rem;
    }
    .ham-bar-bottombun{
        position:relative;
        display: block;
        width: 100%;
        height: 0.2rem;
        margin-bottom: 0.2rem;
        background-color: theme.$lt-001;
        border-radius: 0.1rem;
    }
}









//===========================================================
//
// Below here is not knowingly used
//
//===========================================================





#menuBtn{
    /* targetted by javascript */
}

.hamburger {
    position: relative;
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    right: 01rem;
    background-color:transparent;
    z-index: 10;
    cursor: pointer;

    //border: 2px solid green;

}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    top: 0rem;
    left: 0rem;
    background-color: theme.$lt-002;
    border-radius: 25%;
    z-index: 10;
    transition: all 500ms;
}
.hamburger-middle {
    top: 0.7rem;
    height: 0.3rem;
}
.hamburger-bottom {
    background-color: theme.$lt-002;
    top: 1.5rem;
}

.ham-toggle{
    /* used to target Hamburger elements for toggle */
}

/* open class is set by Javascript and toggles the hamburger state
/* Rotate hamburger and change to an X when clicked */

.open .hamburger-top {
    // move bar up a little
    transform: translateY(50px);

    width: 2rem;
    // rorate down from the left edge
    transform-origin: center left;
    transform: rotate(45deg);

}
.open .hamburger-middle {
    opacity: 0;
    // When this is removed, the space between the top and bottom will be decreased
}
.open .hamburger-bottom {
    // move bar down a little
    transform: translateY(-1.5rem);
    width: 2rem;
    // rotate up from the left edge
    transform-origin: center left;
    transform: rotate(-45deg);

}

















/***********************************************************
/*
/*  Mobile Menu Panel
/*
/***********************************************************/



/* This class is toggled on by javascript to display the menu panel */
.open-mobile-nav-panel{
    visibility: visible;
    opacity: 1;
    display: block;

    top: 0.2rem;
    right: 0.2rem;
    width: 20rem;
    height: 100vh;
    z-index: 1;

    border: 2px solid  theme.$lt-002;

    transform: translateX(0%);

    transition-property: opacity transform;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}





























































