@use '@scss/_theme.scss' as theme;
@use '@scss/_fonts.scss' as fonts;

.nav-panel-container{
  display: block;
  position:relative;

  width: 5rem; // Change for different displays with media query
  max-width: 5rem;
  height: 100vh;

  border-right: 1px solid theme.$dk-004;
  //border: 2px solid theme.$red-001;

  .nav-panel-bg{
    position:absolute;
    display:block;
    width: 100%;
    height: 100%;

    img{
      width:100%;
      height: 100%;
      object-fit:cover;
    }
  }

}

.app-logo{
  position: relative;
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;

  img{
    width: 100%;
    height: 100%;
    object-fit:contain;
  }

  //border: 2px solid darkmagenta;
  //background-color: darkgoldenrod;
  
}





// TContaner for all the main nav links/icons/labels
.nav-icons-container{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:auto;

    width: auto;
    height: 50vh;

    //border: 2px solid theme.$purple-001;
    //background-color: darkgreen;

    .nav-item{
      position: relative;
      display: flex;
      flex-direction: row;
      //justify-content: flex-start; // desktop
      justify-content: center;
      align-items:center;

      width: 100%;
      height: 4.5vh;

      //background-color: white;
      //border: 1px solid theme.$green-003;
      
      .nav-icon-svg{
        aspect-ratio: 1/1;
        width: 2rem;
        path{
          fill: theme.$dk-004;
          stroke: theme.$turq-002;
          stroke-width:0.03; // icon outline (near invisible)
          stroke-linecap: round;
          stroke-linejoin: round;
          transition-property: fill;
          transition-duration: 300ms;
          transition-timing-function: ease-in-out;
        }
        //background-color: white;
        //border: 2px solid purple;
      }
 
      .nav-icon-label{
        display: none;
        //display: block; desktop
        //flex-grow: 1; desktop
        // padding-left: 1rem; desktop

        font-family: fonts.$writing;
        color: theme.$dk-002;
        // line-height: 2.5rem; // desktop // since the nav-item container is 3rem, 2.5 align the text roughly center vertically
        font-size: 2rem;
        font-weight: 400;

        transition-property: color;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
      }


      // Hover effect for nav-item
      &:hover { // target container element (parent) ie nav-item:hover
        .nav-icon-svg path {
          fill: theme.$purple-001; // Neon turquoise on hover
          // filter: drop-shadow(0 0 3px   theme.$turq-002); // Optional neon glow
        }
        .nav-icon-label {
          color: theme.$purple-001; // Match label color to SVG fill
        }
      }

    }

} // end nav-icons-container
.main-nav{
  height: 50vh;
}
.ball-nav{
  height: 10vh;
}




// feather icon
// #wf1{
//   fill: theme.$grey-004;
// }
// #wf2{
//   fill: theme.$white-001;
// }

// #wf3{
//   fill: theme.$grey-002;
// }
// #wf4{
//   fill: theme.$white-001;
// }
// #wf5{
//   fill: theme.$grey-004;
// }

#wf1{
  fill: theme.$dk-005;
}
#wf2{
  fill: theme.$dk-004;
}

#wf3{
  fill: theme.$dk-003;
}
#wf4{
  fill: theme.$dk-005;
}
#wf5{
  fill: theme.$dk-001;
}





/**********************************************************************
*
* The circular avatar in the lower area of the nav-bar
*
*
**********************************************************************/
// modal anchors its absolute position to this 
.nav-modal-anchor{
  position: relative;
  display: block;

  width: 4.5rem;
  height: 20vh;
  padding: 0.2rem;

  //border: 2px solid theme.$green-002;
  //background-color: theme.$lt-004;
}

// Box containing avatar picture and username
.avatar-box{
    position:relative;
    display: flex;
    flex-direction: column;

    width: auto;
    height: 18vh;

   // border: 2px solid green;
} // end user container

.user-name{
  display:flex; 
  position:block;
  width: auto;
  height:auto;
  
  font-family: fonts.$writing;
  font-size: 1rem;
  color: theme.$red-003;
  padding-left: 1rem;

  //border: 2px solid red;

  transform: rotate(-90deg);
}

.user-avatar{
  position: relative;
  display:block;
  height: 8vh;
  width: auto;

  border-radius: 50%;

  //background-color:   theme.$semi-opaque-001;
  border: 2px solid theme.$purple_001;
  margin-bottom: 2rem;

  // position the circle in the center horizontal of the container
  top:3vh;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;

  .avatar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

}

// avatar modal
.avatar-modal-box{
  position:absolute;
  display: block;
  top: 4rem;
  left: 4rem;
  width: 10rem;
  height: 12vh;
  padding: 0.5rem;

  border: 2px solid theme.$purple-002;
  border-radius: 0.4rem;
  background-color: theme.$lt-002;
  color: theme.$dk-002;

  z-index:20;

  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: ease-in-out;
}


.modal-links-box{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:auto;

    width: auto;
    height: 10vh;

    //border: 2px solid theme.$turq-002;
    //background-color: darkgreen;

    .modal-item{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;

      width: 100%;
      height: 4.5vh;

      //background-color: white;
      //border: 1px solid theme.$green-003;
      
      .modal-svg{
        aspect-ratio: 1/1;
        width: 1.5rem;
        path{
          fill: theme.$turq-002;
          stroke: theme.$turq-002;
          stroke-width:0.03; // icon outline (near invisible)
          stroke-linecap: round;
          stroke-linejoin: round;
          transition-property: fill;
          transition-duration: 300ms;
          transition-timing-function: ease-in-out;
        }
        //background-color: white;
        //border: 2px solid purple;
      }
 
      .modal-label{
        display: block;

        font-family: fonts.$writing;
        color: theme.$dk-002;
        line-height: 1.2em; // desktop // since the nav-item container is 3rem, 2.5 align the text roughly center vertically
        font-size: 1.2rem;
        font-weight: 400;

        transition-property: color;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
      }

      // Hover effect for nav-item
      &:hover { // target container element (parent) ie nav-item:hover
        .modal-svg path {
          fill: theme.$purple-002; // Neon turquoise on hover
          // filter: drop-shadow(0 0 3px   theme.$turq-002); // Optional neon glow
        }
        .modal-label {
          color: theme.$purple-002; // Match label color to SVG fill
        }
      }
    }
} // endmodal-links-box




















// .user-account-item{
//   position: relative;
//   display: block;

//   width: 100%;
//   height: 3rem;

//   margin-left: auto;
//   padding: 0.2rem;
//   border: 2px solid green;
  
//   .user-account-icon-svg{
//     aspect-ratio: 1/1;
//     width: 2rem;
//     margin-left: 1rem;
//     path{
//       fill: theme.$dk-004;
//       stroke: theme.$turq-002;
//       stroke-width:0.03; // icon outline (invisible)
//       transition-property: fill;
//       transition-duration: 300ms;
//       transition-timing-function: ease-in-out;
//     }
//     //background-color: white;
//     //border: 2px solid purple;
//   }

//   .user-account-icon-label{
//     display: inline-block;

//     font-family: fonts.$writing;
//     color: theme.$dk-002;
//     // line-height: 2.5rem; // desktop // since the user-account-item container is 3rem, 2.5 align the text roughly center vertically
//     font-size: 30pt;
//     font-weight: 400;

//     transition-property: color;
//     transition-duration: 150ms;
//     transition-timing-function: ease-in-out;
//   }

//   // Hover effect for user-account-item
//   &:hover { // target container element (parent) ie user-account-item:hover
//     .user-account-icon-svg path {
//       fill: theme.$purple-001; // Neon turquoise on hover
//       // filter: drop-shadow(0 0 3px   theme.$turq-002); // Optional neon glow
//     }
//     .user-account-icon-label {
//       color: theme.$purple-001; // Match label color to SVG fill
//     }
//   }
// }

// .nav-avatar-links-wrapper{
//   position: relative;
//   display: block;
//   width: auto;
//   height: 10rem;

//   border: 2px solid theme.$green-001;
//   background-color: theme.$dk-002;
// }




.account-error{
  position:absolute;
  display: block;
  top: 0;
  left: 2rem;
  width: 10rem;
  height: 5rem;

  border: 2px solid theme.$purple-002;
  border-radius: 0.4rem;
  background-color: theme.$lt-003;
  color: theme.$dk-002;
}



















