
// Global Variables

$white-001: #fff;
$grey-001: #eeeeee;
$grey-002: #e0e0e0;
$grey-003: #acabab;
$grey-004: #8d8d8d;
$grey-005: #494949;
$grey-006: #272727;
$black-001: #000;

$lt-001: #fffcf5;
$lt-002: #fff9e9;
$lt-003: #e6dbbd;
$lt-004: #e0c270;

$dk-001: #cca845;
$dk-002: #dba203;
$dk-003: #966e00;
$dk-004: #523c00;
$dk-005: #382900;

$blue-001:  #cdc8f8;
$blue-002:  #6b52fc;
$blue-003:  #1200b3;

$turq-001: rgb(99, 190, 212);
$turq-002: rgb(14, 137, 168);
$turq-003: rgb(1, 75, 94);
$turq-004: rgb(0, 38, 48);


$orange-001: #ffb62f;
$orange-002: #e66700;
$orange-003: #ffc400;

$purple-001: #ee09e2;
$purple-002: #b300aa;
$purple-003: #52004e;
$purple-004: #170018;

$red-001: #db0079;
$red-002: #c70d00;
$red-003: #860053;

$green-001: #d1e794; 
$green-002: #93c900; 
$green-003: #329e00; 

$accent-001: #06747c;

$yellow-001: #ffdd1d;
$yellow-002: #302500;


$semi-opaque-001: rgba(0,0,0,0.10);
$semi-opaque-002: rgba(0,0,0,0.20);
$semi-opaque-003: rgba(0,0,0,0.30);

$semi-opaque-004: rgba(255, 253, 253, 0.10);
$semi-opaque-005: rgba(255, 255, 255, 0.20);
$semi-opaque-006: rgba(255, 255, 255, 0.30);

$semi-opaque-007: rgba(255, 255, 255, 0.5);
$semi-opaque-008: rgba(255, 255, 255, 0.7);
$semi-opaque-009: rgba(255, 255, 255, 0.9);

$nav-offset: 7rem;



// https://www.w3schools.com/cssref/css3_pr_filter.php
$orange-filter: hue-rotate(80deg) brightness(50%) contrast(10%) sepia(200%) saturate(2476%);
$lt-orange-filter: hue-rotate(80deg) brightness(200%) contrast(0%) sepia(200%) saturate(1500%);
$green-filter: invert(48%) sepia(79%) saturate(1476%) hue-rotate(86deg) brightness(58%) contrast(119%);

$sepia-filter:  sepia(100%)  brightness(75%);
$sepia-filter-off: sepia(0%) brightness(100%);

$blur: blur(1px);

$svg-orange: hue-rotate(80deg) brightness(200%) contrast(0%) sepia(200%) saturate(1500%);
$svg-pink: hue-rotate(80deg) brightness(200%) contrast(0%) sepia(200%) saturate(1500%);


// Holding down the mouse and selecting text. These are the colors
::-moz-selection { /* Code for Firefox */
    color:$lt-001;
    background: $dk-001;
  }
  
  ::selection {
    color:$lt-001;
    background: $dk-001;
  }