

@use '@scss/_theme.scss' as theme;
@use '@scss/_fonts.scss' as fonts;


// Picture of Alfie racoon Slingin Ink
.welcome-hero{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;;

    width: 100%;
    height: 30vh;


    //border: 2px solid purple;
    //background-color: darkgreen;

    .hero-img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.splat-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10vh;


    //border: 2px solid rgb(16, 167, 23);
    //background-color: rgb(219, 190, 58);


    #splat1-svg-path{
        fill: theme.$turq-002;
        stroke-width:0.03;

        transition-property: fill;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }
    #splat1-svg-path:hover,
    #splat1-svg-path:focus,
    #splat1-vsg-path:target{
        fill: theme.$purple-002;
    }
}



.ink-splat-svg{
    width: 7vh;
    height: 7vh;
    //border: 2px solid red;

}
